{% doc %}
Renders the Genius Coffee wordmark.
@example
{% render 'genius-logo' %}
{% enddoc %}

<a class="gc-logo" href="{{ routes.root_url }}" aria-label="{{ shop.name | escape }}">
  <span class="gc-logo__top">Genius <span class="gc-logo__mark"></span></span>
  <span class="gc-logo__bottom">Coffee</span>
</a>
